@charset "UTF-8";

$width-2col: 720px;
$width-3col: 1080px;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, '游ゴシック体', YuGothic, 'Yu Gothic Medium', 'Noto Sans JP', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #fafafa;
  letter-spacing: 0.03em;
}

html,body {
  width: 100%;
  background-color: rgb(6,26,43);
}


#container {
  overflow-x: hidden;
  opacity: 0;
  transition: all ease 300ms;
  padding: 0 8px;

  &.show {
    opacity: 1;
  }

  #title-block {
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
    padding: 8px 16px;

    img {
      display: block;
      width: 200px;
      margin: 16px auto;
    }

    h1 {
      span {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        color: #fefefe;
        margin-right: 0.5em;

        @media only screen and (min-width: 400px) {
          font-size: 22px;
        }

        @media only screen and (min-width: 700px) {
          font-size: 24px;
        }
      }
    }

    p {
      margin-top: 16px;
      font-size: 14px;
      line-height: 26px;

      @media only screen and (min-width: 400px) {
        font-size: 15px;
      }

      @media only screen and (min-width: 700px) {
        font-size: 16px;
      }

      a {
        color: #ace;
        font-size: 14px;
        text-decoration: none;

        @media only screen and (min-width: 400px) {
          font-size: 15px;
        }

        @media only screen and (min-width: 700px) {
          font-size: 16px;
        }
      }
    }

    .alert {
      margin-top: 16px;
      padding: 8px 16px;
      border-radius: 4px;
      background-color: #242a3c;

      h4 {
        font-size: 14px;
        color: #ccc;
        border-bottom: 1px solid rgba(255,255,255,0.2);
      }

      p {
        color: #eee;
        font-size: 14px;

        a {
          color: #ace;
          font-size: 14px;
          text-decoration: none;
        }
      }
    }
  }

  #main-block {
    h2 {
      margin: 32px 8px 8px 8px;
      font-size: 20px;
      font-weight: bold;
      border: none;
      border-bottom: 1px solid rgba(255,255,255,0.5);

      @media only screen and (min-width: $width-2col) {
        font-size: 24px;
      }

      @media only screen and (min-width: $width-3col) {
        font-size: 28px;
      }
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      margin: 16px auto 0 auto;
      border: none;
      border-radius: 20px;
      font-size: 16px;
      background-image: url(../img/icon-arrow-down.svg);
      background-repeat: no-repeat;
      background-position: calc(100% - 10px) calc(50% + 1px);
      background-color: #474f62;
      padding: 8px 96px 8px 24px;

      &::-ms-expand {
        display: none;
      }
    }

    .flex-container {
      display: flex;
      flex-wrap: wrap;

      .flex-row {
        width: 100%;

        @media only screen and (min-width: $width-2col) {
          width: calc(100% / 2);
        }

        @media only screen and (min-width: $width-3col) {
          width: calc(100% / 3);
        }

        &.t02 {
          @media only screen and (min-width: $width-3col) {
            width: calc((100% / 3) * 2);
          }
        }

        &.t03 {
          @media only screen and (min-width: $width-2col) {
            width: 100%;
          }

          @media only screen and (min-width: $width-3col) {
            width: calc(100% / 2);
          }
        }
      }
    }

    .box {
      position: relative;
      margin: 16px 8px 0 8px;
      width: calc(100% - 16px);
      padding: 8px 16px;
      background-color: rgb(36,42,60);
      border: none;
      border-radius: 4px;

      h3 {
        margin-left: -2px;
        margin-right: 80px;
        padding-left: 6px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-left: 4px solid #ec2;

        span {
          font-size: 16px;
          font-weight: bold;
        }

        @media only screen and (min-width: 400px) {
          padding-left: 6px;
          font-size: 18px;

          span {
            font-size: 18px;
          }
        }

        @media only screen and (min-width: 640px) {
          padding-left: 8px;
          font-size: 20px;

          span {
            font-size: 20px;
          }
        }
      }

      h5 {
        color: rgba(255,255,255,0.5);
        font-size: 13px;
        margin: 4px 0 8px 10px;

        @media only screen and (min-width: 400px) {
          margin-left: 12px;
        }

        @media only screen and (min-width: 640px) {
          margin-left: 14px;
        }
      }

      .switches {
        margin: 16px auto;
        padding: 2px;
        display: table;
        background-color: rgb(71,79,98);
        border: none;
        border-radius: 50px;

        .switch {
          display: inline-block;
          display: table-cell;
          font-size: 14px;
          color: #aaa;
          background-color: transparent;
          padding: 4px 16px;
          text-align: center;
          border-radius: 50px;

          &:hover {
            cursor: pointer;
            background-color: rgb(27,53,79);
          }

          &.selected {
            color: #fafafa;
          }

          &:nth-child(1) {&.selected {background-color: #d72;}}
          &:nth-child(2) {&.selected {background-color: #d72;}}
        }
      }

      p.notes {
        position: relative;
        font-size: 13px;
        line-height: 24px;
        margin-top: 16px;
        color: rgba(255,255,255,0.7);
      }
    }

    .transition,
    .prefecture-chart {
      .latest {
        position: absolute;
        top: 8px;
        right: 16px;

        .value {
          font-size: 20px;

          @media only screen and (min-width: 400px) {
            font-size: 22px;
          }

          @media only screen and (min-width: 640px) {
            font-size: 24px;
          }
        }

        .type,.unit,.change {
          font-size: 13px;
          color: #ccc;
        }

        .change {
          text-align: right;
        }
      }

      p.notes {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 72px;

        a.more {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 13px;
          color: #ace;

          &:hover {
            cursor: pointer;
          }
        }

        &.show {
          white-space: inherit;
          padding-right: 0;

          a.more {
            display: none;
          }
        }
      }
    }

    #region-box {
      position: inherit;

      select {
        margin: 8px auto 16px auto;
      }
    }
  }

  #footer-block {
    width: calc(100% - 32px);
    max-width: 640px;
    margin: 32px auto;

    p,small {
      margin-top: 8px;
      text-align: center;
      color: #aaa;
      font-size: 13px;
      line-height: 24px;

      &.notes {
        text-align: left;

        a {
          color: #ace;
          font-size: 13px;
          text-decoration: none;
        }
      }
    }

    #social-buttons {
      display: table;
      border-collapse: separate;
      border-spacing: 32px 0;
      margin: 32px auto 32px auto;

      a {
        display: table-cell;
        width: 48px;
        height: 48px;
        border: 1px solid rgba(255,255,255,0.9);
        border-radius: 50%;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: 0 0px 4px rgba(0,0,0,0.6);
        z-index: 10;

        &.facebook {background-image:url(../img/social-icon-facebook.svg);}
        &.twitter  {background-image:url(../img/social-icon-twitter.svg);}
      }

      .margin {
        display: table-cell;
        width: 24px;
      }
    }

    #faqs {
      margin-top: 64px;

      h3 {
        font-size: 20px;
        padding-bottom: 4px;
        border-bottom: 1px solid rgba(255,255,255,0.2);
      }

      section {
        margin-top: 32px;

        p {
          text-align: left;
          font-size: 15px;
          color: #ccc;
          line-height: 28px;

          a {
            color: #ace;
            text-decoration: none;
            font-size: 15px;
          }
        }
      }
    }

    #related-links {
      margin: 64px auto;
      width: 100%;
      max-width: 400px;

      h3 {
        font-size: 14px;
      }

      h4 {
        margin: 2px 0 16px 0;
        padding-bottom: 4px;
        font-size: 13px;
        color: #aaa;
        border-bottom: solid 1px rgba(255,255,255,0.2);
      }

      .links {
        .link {
          display: inline-block;
          width: calc(50% - 3px);

          a {
            display: block;
            margin: 0 auto;
            width: calc(100% - 16px);

            img {
              display: block;
              width: 100%;
              border-radius: 4px;
            }
          }

          h4 {
            text-align: center;
            color: #666;
            font-size: 13px;
          }
        }
      }
    }
  }
}
